<h1>Welcome We Hope You Find The Accomodations of Your Dreams</h1>

<h3>Current Listings:<h3>
<ul>
  <% @listing.each do |listing| %>
    <div class="row">
      <div class='col-md-8'>
        <li><strong><%= link_to listing.title, listing %></strong>
          <br> <strong>Description:</strong> <%= listing.description %> <br> <strong>Location:</strong> <%= listing.location%>
      </div>
      <div class='col-md-4'>
        <%= image_tag listing.images[0].photo.url(:thumb) %></l1><br><br>
    </div>
  </div>
  <% end %>
</ul>
