<h1> Welcome User </h1>


<ul>
  <% @user.listings.each do |listing| %>
    <li><%= link_to listing.title, listing_path(listing) %></li>
  <%end%>
</ul>


<%= link_to "Add a new listing", new_listing_path, :class => 'btn btn-info' %>
