<h1>Profile </h1>

<h2><%=@user.username%>'s listings: </h2>
<ul>
  <% @user.listings.each do |listing| %>
    <li><%= link_to listing.title, listing_path(listing) %></li>
  <%end%>
</ul>

<hr>

<% if current_user.id == @user.id %>
<%= link_to "Add a new listing", new_listing_path, :class => 'btn btn-info' %>
<% end %>
