body {
  background: #679FD2;
 font-family: 'Nova Square', cursive;
}
.logo a {
    color: #3D63BB;
    font-family: 'Plaster', cursive;
    font-size: 35px;
}

.panel-body {

  /*background-color: #7FA5F7;*/
  text-align: center;
  border-radius: 5px;
}

.photos {
  float: left;
  padding: 5px;
}

nav {
  background: #72FD72;
}

nav a {
  color: #3D63BB;
  font-family: 'Plaster', cursive;
}

a {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

a:hover {
  color: #72FD72;
  background: #679FD2;
}

.btn {
  background: #72FD72;
  color: black;
}
